/bld
/cfg
/setup_t
/setup.sh
/Makefile
/minivmac
/minivmac.app
/minivmac.xcodeproj
/build
/*.exe
/*.ROM

.DS_Store
.vscode/settings.json
extras/disks/608/Z-690-5830-B (Startup).img
Z-690-5830-B (Startup).img
tn1136.pdf
dbglog.txt